OPENAI_API_KEY=
GEMINI_API_KEY=
GOOGLE_VISION_API_KEY=

FRANKFURTER_API=https://api.frankfurter.app

FIREBASE_SERVICE_ACCOUNT_PATH=serviceAccountKey.json
GOOGLE_APPLICATION_CREDENTIALS=

USE_MOCK_OCR=true
LOCAL_TRANSACTIONS_PATH=local_transactions.json
POPPLER_PATH=
